body {
  font-family: 'Architects Daughter', cursive;
  font-size: 100%;
  text-align: center;
}

h1 {
  background-color: #40479c;
  color: #fff;
  font-family: 'Architects Daughter', cursive;
  font-size: 2em;
  margin: 0;
  padding: .5em 0;
}

p, span {
  font-size: 1.5em;
  line-height: 1;
  margin: 2em 0 .5em;
}

span {
  display: inline-block;
  margin: 0 1em -1em 0;
}

.hide {
  display: none;
}
